@import url('../assets/reset.css');

/* header style begien  */

:root {
  --header: var(--header);
  font-size: 16px;
}
header {
  position: relative;
  padding: 0.5rem;
  display: flex;
  justify-content: flex-end;
  background-color: var(--header);
}
.logo {
  position: absolute;
  left: 0.5rem;
  right: 0;
  top: 1.1rem;
  bottom: 0;
  width: 6rem;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropbtn {
  background-color: var(--header);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.dropdown-content {
  display: none;
  position: absolute;
  right: 1px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #af751d;
}
.dropdown-content a i {
  color: black;
}
/* header style end  */
